<div class="holster">
  <div class="container y mandatory-scroll-snapping" dir="ltr">
    <div id="first-box" class="image-box" (click)="nextPage()">
      <div class="cover-layer">
        <div class="center-text">CELEBRATE MESSAGE</div>
        <div class="scroll-guide">
          <span>scroll</span>
          <mat-icon>keyboard_arrow_up</mat-icon>
          <mat-icon>keyboard_arrow_up</mat-icon>
          <mat-icon>keyboard_arrow_up</mat-icon>
        </div>
      </div>
    </div>
    <div id="second-box" class="image-box" (click)="nextPage()">
      <div class="cover-layer">
        <div class="center-text">HAPPY</div>
        <div class="scroll-guide">
          <span>scroll</span>
          <mat-icon>keyboard_arrow_up</mat-icon>
          <mat-icon>keyboard_arrow_up</mat-icon>
          <mat-icon>keyboard_arrow_up</mat-icon>
        </div>
      </div>
    </div>
    <div id="third-box" class="image-box" (click)="nextPage()">
      <div class="cover-layer">
        <div class="center-text">BIRTHDAY</div>
        <div class="scroll-guide">
          <span>scroll</span>
          <mat-icon>keyboard_arrow_up</mat-icon>
          <mat-icon>keyboard_arrow_up</mat-icon>
          <mat-icon>keyboard_arrow_up</mat-icon>
        </div>
      </div>
    </div>
    <div id="fourth-box" class="image-box" (click)="firstPage()">
      <div class="cover-layer">
        <div class="center-text">LOVER's NAME</div>
      </div>
    </div>
  </div>
</div>
