@import "src/styles/mixin";

.holster {
  height: 100%;
}
.holster {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: column nowrap;
}

.container {
  display: flex;
  overflow: auto;
  outline: 1px dashed lightgray;
  flex: none;
}

.container.y {
  width: 100vw;
  height: 100vh;
  flex-flow: column nowrap;
}
/* scroll-snap */
.y.mandatory-scroll-snapping {
  scroll-snap-type: y mandatory;
}

.container > div {
  text-align: center;
  scroll-snap-align: center;
  flex: none;
}

.y.container > div {
  line-height: 256px;
  font-size: 48px;
  font-weight: 900;
  width: 100vw;
  height: 100%;
  color: $soft-white;
}
/* coloration */
.container {
  .cover-layer {
    width: 100%;
    height: 100%;
    position: relative;
    opacity: 0.5;

    .scroll-guide {
      margin: auto;
      position: absolute;
      width: 100%;
      bottom: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;

      span {
        margin-bottom: 8px;
        font-size: 16px;
        font-weight: 900;
        line-height: 1.1;
      }

      mat-icon {
        margin-bottom: -12px;
        transform: scale(2);

        &:nth-child(2) {
          opacity: 1;
        }
        &:nth-child(3) {
          opacity: 0.7;
        }
        &:nth-child(4) {
          opacity: 0.4;
        }
      }
    }
  }
  .image-box:nth-child(even) .cover-layer {
    background-color: $od-primary;
  }
  .image-box:nth-child(odd) .cover-layer {
    background-color: $od-accent;
  }
}

.container > div:nth-child(even) .cover-layer {
}

#first-box {
  background-image: url("../../../assets/image/mun-1.jpeg");
}

#second-box {
  background-image: url("../../../assets/image/mun-2.jpeg");
}

#third-box {
  background-image: url("../../../assets/image/mun-3.jpeg");
}

#fourth-box {
  background-image: url("../../../assets/image/mun-4.jpeg");
}

.image-box {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
