@font-face {
  font-family: nsneo;
  src: url("/assets/font/NanumSquareNeo/" + "NanumSquareNeoTTF-aLt.woff2");
  font-weight: 300;
}

@font-face {
  font-family: nsneo;
  src: url("/assets/font/NanumSquareNeo/" + "NanumSquareNeoTTF-bRg.woff2");
  font-weight: 400;
}

@font-face {
  font-family: nsneo;
  src: url("/assets/font/NanumSquareNeo/" + "NanumSquareNeoTTF-cBd.woff2");
  font-weight: 500;
}

@font-face {
  font-family: neneo;
  src: url("/assets/font/NanumSquareNeo/" + "NanumSquareNeoTTF-dEb.woff2");
  font-weight: 700;
}

@font-face {
  font-family: neneo;
  src: url("/assets/font/NanumSquareNeo/" + "NanumSquareNeoTTF-eHv.woff2");
  font-weight: 900;
}
